@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

body{
  background-color: #98BBF2;
}

.App {
  height: 100vh;
  padding-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30%;
}

.header .logo {
  font-style: italic;
  font-size: 45px;
  font-weight: 700;
  color: #F8F8F8;
}

main h1, .listTitle {
  color: #F8F8F8 !important;
}

.header .link{
  font-family: 'EB Garamond', serif;
  font-size: 25px;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px;
  background-color: white;
  padding: 4px 20px;

  border: 20px solid #CBDFFA;
  border-radius: 50px;
  padding: 20px 0 20px 0;
  background-color: #F8F8F8;

  margin-top: 20px;
}

.mainCreate {
  height: 100%;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 50%;
}

.input-wrapper label {
  font-size: 26px;
  font-weight: 300;
}

.input-wrapper input {
  border-radius: 5px;
  border: 2px solid #C4C8D4;
  height: 25px;
  width: 100%
}

.save-button {
  display: block;
  width: 60%;
  margin: 0 20%;
  height: 40px;
}

/* list page */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* table */

.listTitle{
  margin-bottom: 10px;
  color: #20263E;
}

.tableContainer {
  border: 20px solid #CBDFFA;
  border-radius: 50px;
  padding: 10px 0 5px 0;
  background-color: #F8F8F8;
  overflow: hidden;
  margin-bottom: 50px;
}

table { 
	width: 900px; 
	border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
}

tr:nth-of-type(even) { 
  background: white; 
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
  min-width: 140px;
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
}

.bottomTable {
  margin-top: 10px;
}

.topTable, .bottomTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 50px;
  margin-bottom: 10px;
}

.topTable label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.show, #searchTable {
  margin-left: 15px;
}

#searchTable {
  border-radius: 5px;
  border: 2px solid #C4C8D4;
}

.directionButtons {
  display: flex;
  flex-direction: row;
}

.bottomTable button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #98BBF2;
  border: 0px solid;
  border-radius: 50%;
  padding: 5px;
  margin-left: 8px;
}

.bottomTable button img {
  width: 32px;
}

.reverse{
  rotate: 180deg;
}
